.container {
    margin-top: 5%;
    justify-content: center;
    /* max-width: 1280px; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    column-gap: 2%;
}

.item1 {
    width: 100%;
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: end;
}

.item1 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.item1 img:hover {
    width: 250px;
    height: 350px;
}

.item2 {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.item2 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.item2 img:hover {
    width: 250px;
    height: 350px;
}

.item3 {
    width: 100%;
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: end;
}

.item3 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.item3 img:hover {
    width: 250px;
    height: 350px;
}

.item4 {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.item4 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.item4 img:hover {
    width: 250px;
    height: 350px;
}