.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.content {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 200px 300px 200px;
    grid-template-rows: 20px 200px 200px 200px 10px;
    column-gap: 5px;
    row-gap: 5px;
}

.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.itema {
    grid-column: 1;
    grid-row: 2;
}

.itemb {
    grid-column: 1;
    grid-row: 4;
}

.itemc {
    grid-column: 1;
    grid-row: 5;
}

.itemd {
    grid-column: 2;
    grid-row: 1 / 3;
}

.iteme {
    grid-column: 2;
    grid-row: 3/5;
}

.itemf {
    grid-column: 2;
    grid-row: 210px;
}

.itemg {
    grid-column: 3;
    grid-row: 2;
}

.itemh {
    grid-column: 3;
    grid-row: 4;
}

.itemi {
    grid-column: 3;
    grid-row: 5;

}