@font-face {
	font-family: 'helvetica';
	src: url('../public/fonts/helvetica.ttf') format('truetype');
}

@font-face {
	font-family: 'montserratMedium';
	src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'montserratLight';
	src: url('../public/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}


:root {
	--fontBold: helvetica;
	--fontTitle: montserratMedium;
	--fontLight: montserratLight
}



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
}

body {
	/* max-width: 1280px; */
	width: 100vw;
	background: #EDEAE1 0% 0% no-repeat padding-box;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}