.snapcontainer {
    height: 100vh;
    overflow: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    width: 100vw;
    height: 90rem;
    background-color: rgb(255, 253, 243);

    font-size: 20px;
    display: flex;
    align-content: center;
}

.sticky2 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
    font-size: 20px;
    height: 100vh;
}

.sticky3 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
    width: 100vw;
    font-size: 20px;
    height: 90rem;
}

.sticky4 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
display: flex;
justify-content: center;
align-content: center;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

.sticky5 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

.sticky6 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

@media (max-width: 770px) {
    .sticky6{
        display: none;
    }
    .sticky5{
        display: none;
    }
    .sticky4{
        display: none;
    }
    .sticky3{
        display: none;
    }
    .sticky2{
        display: none;
    }
}