.snapcontainer {
    height: 100vh;
    overflow: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 253, 243);
    padding: 50px;
    font-size: 20px;
}

.sticky2 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    padding: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

.sticky3 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    padding: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

.sticky4 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    padding: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}

.sticky5 {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: rgb(255, 253, 243);
    padding: 50px;
    width: 100vw;
    font-size: 20px;
    height: 100vh;
}